body {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 3fr 3fr 1fr;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #E5E5E5;
  font-family: "Roboto Slab";
  font-size: 20px;
  color: #333;
  width: 100%; }

h1 {
  margin: 0 20px;
  padding: 0;
  font-weight: bold; }

a {
  font-family: "Roboto Slab";
  font-size: 20px;
  font-weight: none;
  color: white;
  text-decoration: none; }

p {
  font-family: "Roboto Slab";
  font-size: 20px;
  font-weight: none;
  color: white;
  padding: 0;
  margin: 0; }

header {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  width: 100%;
  height: 4rem;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #263F5B; }
  header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 992px;
    height: 100%;
    margin: 0 auto; }
    header .navbar .nav-toggle {
      color: white;
      background: none;
      border: none;
      font-size: 30px;
      padding: 0 20px;
      display: none; }
    header .navbar .navbar-ul {
      display: flex;
      list-style-type: none; }
      header .navbar .navbar-ul .navbar-li {
        display: flex;
        align-items: center;
        font-size: 18px;
        padding: 0 10px;
        color: white;
        cursor: pointer;
        width: max-content;
        height: 4rem; }
      header .navbar .navbar-ul #navbar-li-active {
        background-color: #E5E5E5; }
        header .navbar .navbar-ul #navbar-li-active a {
          color: #333; }
      header .navbar .navbar-ul .navbar-li:hover {
        text-decoration: underline;
        background-color: #E5E5E5;
        color: #333; }
        header .navbar .navbar-ul .navbar-li:hover a {
          color: #333; }

main {
  grid-row: 2 / 3; }

.footer {
  grid-column: 1 / 5;
  grid-row: 3 / 4;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
  /* Height of the footer */
  background: #263F5B; }
  .footer .footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%; }
    .footer .footer-container-links {
      display: flex;
      align-items: center; }
      .footer .footer-container-links .fa-facebook-square, .footer .footer-container-links .fa-whatsapp-square, .footer .footer-container-links .fa-instagram {
        background-color: transparent;
        color: #e7eaeb;
        margin: 0 20px; }

@media only screen and (max-width: 768px) {
  body header {
    height: 3rem; }
    body header .navbar {
      height: 100%; }
      body header .navbar .navbar-ul {
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        padding: 0;
        position: fixed;
        top: 3rem;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        background-color: #333;
        left: -100%;
        transition: left 0.3s; }
        body header .navbar .navbar-ul .navbar-li {
          margin: 0;
          padding: 0;
          width: 100%;
          padding: 0 20px;
          font-size: 24px; }
      body header .navbar .nav-toggle {
        display: block;
        cursor: pointer; }
      body header .navbar .navbar-ul_visible {
        left: 0; } }

.main-index {
  grid-column: 1 / 5;
  grid-row: 2 / 4;
  width: 100%;
  height: 100%; }
