.body-index {
    grid-template-areas:
    "hd   hd   hd   hd   hd   hd   hd   hd   hd   hd   hd   hd"
    "main main main main main main main main main main main main"
    ".    .    sec1 sec1 sec1 sec1 sec1 sec1 sec1 sec1 .    . "
    "ft   ft   ft   ft   ft   ft   ft   ft   ft   ft   ft   ft";

    .sec1 {
        grid-area: sec1;
        margin: 40px 0;
        padding-left: 20px;
        article {
            @include fontMain ($size:20px,$bold:none,$color:map-get($fuentes, font-color-primary));
            .article-container{
                .article-p {
                    box-shadow: 0 3px map-get($colores , blue-middle ) ;
                    padding-bottom: 10px;
                }
    
                .article-li {
                    margin: 7px 0;
                }
            }
            
        }
    }
}


@include mediaQuery ($diseñoPantalla:mobile,$tamaño:768px) {
    .body-index {
        .sec1 {
            margin: 20px 0;
            padding-left: 0;
            article {
                @include fontMain ($size:16px,$bold:none,$color:map-get($fuentes, font-color-primary));
    
                .article-container {
                    text-align: justify;
                    .article-p {
                        font-size: 14px;
                    }
                }
            }
        }
    }

}
