body {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 1fr;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: map-get($colores , bg );
    font-family: map-get($fuentes, font-primary);
    font-size: map-get($fuentes, font-size-primary);
    color: map-get($fuentes, font-color-primary);

    width: 100%;
}
// ********************************************************************
// HEADER AND NAVIGATION BAR
h1 {
    margin: 0 20px;
    padding: 0;
    font-weight: bold;
}

a {
  @include fontMain($size:20px,$bold:none,$color:white);
  text-decoration: none;
}

p {
  @include fontMain($size:20px,$bold:none,$color:white);
  padding:0;
  margin: 0;
}
header {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  width: 100%;
  height: 4rem;
  position: sticky;
  top: 0;
  left: 0;
  background-color: map-get($colores,blue-dark);
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 992px;
    height: 100%;
    margin: 0 auto;

    .nav-toggle {
      color: white;
      background: none;
      border: none;
      font-size: 30px;
      padding: 0 20px;

      display: none;
    }

    .navbar-ul {
      display: flex;
      list-style-type: none;

      .navbar-li {
        display: flex;
        align-items: center;
        font-size: 18px;
        padding: 0 10px;
        color: white;
        cursor: pointer;
        width: max-content;
        height: 4rem;
      }

      #navbar-li-active {
        background-color: map-get($colores, bg );
        a {
          color: map-get($colores,grey-dark);
        }
      }

      .navbar-li:hover {
        text-decoration: underline;
        background-color: map-get($colores, bg );
        color: map-get($colores,grey-dark);
        a {
          color: map-get($colores,grey-dark)
        }
      }


    }

  }
}

main {
  grid-row: 2 / 3;
}

// ***************************************************************
// FOOTER

.footer {
  grid-column: 1 / 5;
  grid-row: 3 / 4;
  position: absolute;
  bottom: 0;
  width:100%;
  height:5rem;   /* Height of the footer */
  background: map-get($colores, blue-dark ) ;
  .footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;

    &-links {
      display: flex;
      align-items: center;

      .fa-facebook-square, .fa-whatsapp-square, .fa-instagram {
        background-color: transparent;
        color: #e7eaeb;
        margin: 0 20px;
    }
    }
  }
}



// ***************************************************************
// MEDIA QUERIES
@include mediaQuery ($diseñoPantalla:mobile,$tamaño:768px) {
  body{  
    header {
      height: 3rem;
      .navbar{
        height: 100%;
        .navbar-ul {
          flex-direction: column;
          align-items: flex-start;
          margin: 0;
          padding: 0;
          position: fixed;
          top: 3rem;
          width: 100%;
          height: 100%;
          overflow-y: auto;
          background-color: map-get($colores, grey-dark );
          left: -100%;
          transition: left 0.3s;
          .navbar-li {
            margin: 0;
            padding: 0;
            width: 100%;
            padding: 0 20px;

            font-size: 24px;
          }
        }
        .nav-toggle{
          display: block;
          cursor: pointer;
        }
        .navbar-ul_visible {
          left: 0;
        }
      }
    }
  }
}



