<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600;800&display=swap" rel="stylesheet">

    <!-- FONTAWESOME -->
    <script src="https://kit.fontawesome.com/328858abb8.js" crossorigin="anonymous"></script>

    <!-- STATIC STYLE -->
    <link rel="stylesheet" href="../css/main.css">
    
    <!-- JAVASCRIPT LINK read -> defer -->
    <script defer src="../js/index.js"></script> 
    
    <title>Servicios</title>
</head>

<body>
    <header class="header">
        <nav class="navbar">
            <a class="navbar-h1" href="../index.html">
                <h1>Emprendiendo</h1>
            </a>
            <button class="nav-toggle" aria-label="Abrir menú">
                <i class="fa-solid fa-bars"></i>
            </button>
            <ul class="navbar-ul">
                <li class="navbar-li"><a href="../index.html" class="navbar-link">Inicio</a></li>
                <li class="navbar-li"><a href="./services.html" class="navbar-link">Servicios</a></li>
                <li class="navbar-li"><a href="./aboutus.html" class="navbar-link">Sobre Nosotros</a></li>
                <li class="navbar-li" id="navbar-li-active"><a href="./pricing.html" class="navbar-link">Precios</a></li>
                <li class="navbar-li"><a href="./contactus.html" class="navbar-link">Contáctanos</a></li>
            </ul>
        </nav>
    </header>
    <main>
    </main>
</body>

</html>