<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
        content="Inversión, precios, emprendimiento, financiamiento, créditos, página web, marketing, empresas, pymes, Colombia, invertir, crecer, ventas, vender, contabilidad, tiendas, tienda virtual">
    <meta name="description" content="Emprendiendo te brinda financiamiento, asesoría y marketing para potenciar tu negocio. Encuentra nuestros planes de subscripción mensual o nuestro plan partner y sé nuestro aliado!">    
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600;800&display=swap" rel="stylesheet">

    <!-- FONTAWESOME -->
    <script src="https://kit.fontawesome.com/328858abb8.js" crossorigin="anonymous"></script>

    <!-- STATIC STYLE -->
    <link rel="stylesheet" href="../css/main.css">
    
    <!-- JAVASCRIPT LINK read -> defer -->
    <script defer src="../js/index.js"></script> 
    
    <title>Emprendiendo - precios</title>
</head>

<body>
    <header class="header">
        <nav class="navigationbar">
            <a class="navigationbar-h1" href="../index.html">
                <h1>Emprendiendo</h1>
            </a>
            <button class="nav-toggle" aria-label="Abrir menú">
                <i class="fa-solid fa-bars"></i>
            </button>
            <ul class="navigationbar-ul">
                <li class="navigationbar-li"><a href="../index.html" class="navigationbar-link">Inicio</a></li>
                <li class="navigationbar-li"><a href="./services.html" class="navigationbar-link">Servicios</a></li>
                <li class="navigationbar-li"><a href="./aboutus.html" class="navigationbar-link">Sobre Nosotros</a></li>
                <li class="navigationbar-li" id="navigationbar-li-active"><a href="./pricing.html" class="navigationbar-link">Precios</a></li>
                <li class="navigationbar-li"><a href="./contactus.html" class="navigationbar-link">Contáctanos</a></li>
            </ul>
        </nav>
    </header>
    <main>
    </main>
    <!-- ************************************************************** -->
    <!-- ************************ FOOTER ****************************** -->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-container-links">
                <i class="fa-brands fa-facebook-square fa-2x"></i>
                <i class="fa-brands fa-instagram fa-2x"></i>
                <i class="fa-brands fa-whatsapp-square fa-2x"></i>
            </div>
        </div>
    </footer>
</body>

</html>