<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
        content="Inversión, servicios, emprendimiento, financiamiento, créditos, página web, marketing, empresas, pymes, Colombia, invertir, crecer, ventas, vender, contabilidad, tiendas, tienda virtual">

    <meta name="description"
        content="Emprendiendo te brinda financiamiento, asesoría y marketing para potenciar tu negocio. Encuentra nuestros diferentes servicios, desde financimiento mediante créditos o capital privado, marketing y diseño de producto, gestión de los estados financieros y seguimiento de clientes, proveedores y entregas">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600;800&display=swap" rel="stylesheet">

    <!-- FONTAWESOME -->
    <script src="https://kit.fontawesome.com/328858abb8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- STATIC STYLE -->
    <link rel="stylesheet" href="../css/main.css">

    <!-- JAVASCRIPT LINK read -> defer -->
    <script defer src="../js/index.js"></script>

    <title>Emprendiendo - servicios</title>
</head>

<body class="body-services">
    <header class="header">
        <nav class="navigationbar">
            <a class="navigationbar-h1" href="../index.html">
                <h1>Emprendiendo</h1>
            </a>
            <button class="nav-toggle" aria-label="Abrir menú">
                <i class="fa-solid fa-bars"></i>
            </button>
            <ul class="navigationbar-ul">
                <li class="navigationbar-li"><a href="../index.html" class="navigationbar-link">Inicio</a></li>
                <li class="navigationbar-li" id="navigationbar-li-active"><a href="./services.html"
                        class="navigationbar-link">Servicios</a></li>
                <li class="navigationbar-li"><a href="./aboutus.html" class="navigationbar-link">Sobre Nosotros</a></li>
                <li class="navigationbar-li"><a href="./pricing.html" class="navigationbar-link">Precios</a></li>
                <li class="navigationbar-li"><a href="./contactus.html" class="navigationbar-link">Contáctanos</a></li>
            </ul>
        </nav>
    </header>
    <main class="main-services">
        <div class="dropdown-services-container">
            <button type="button" class="dropdown-toggle-financiamiento" aria-label="servicios:financiamiento">
                <span>Financiamiento</span>
                <span>
                    <i class="fa-solid fa-caret-down"></i>
                </span>
            </button>
            <button type="button" class="dropdown-toggle-tiendas" aria-label="servicios:financiamiento">
                <span>Tiendas</span>
                <span>
                    <i class="fa-solid fa-caret-down"></i>
                </span>
            </button>
            <div class="dropdown-financiamiento-content">
                <div class="financiamiento-images1">
                    <img src="../images/s1.svg" alt="demo financiamiento 1">
                </div>
                <div class="financiamiento-images2">
                    <img src="#" alt="demo financiamiento 2">
                </div>
                <div class="financiamiento-images3">
                    <img src="#" alt="demo financiamiento 3">
                </div>
                <div class="financiamiento-images4">
                    <img src="#" alt="demo financiamiento 4">
                </div>
            </div>
            <div class="dropdown-tiendas-content">
                <p>Demo tiendas</p>
            </div>
        </div>
    </main>
    <div class="relleno">
        <p>Nothing</p>
    </div>
    <!-- ************************************************************** -->
    <!-- ************************ FOOTER ****************************** -->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-container-links">
                <i class="fa-brands fa-facebook-square fa-2x"></i>
                <i class="fa-brands fa-instagram fa-2x"></i>
                <i class="fa-brands fa-whatsapp-square fa-2x"></i>
            </div>
        </div>
    </footer>
</body>

</html>